
* {
    margin: 0;
    padding: 0;
    
}

a, ul {
    text-decoration: none;
    List-style: none;
}

a, p, input, h1, h2, h3, button {
    font-family: 'Open Sans';
    color: white;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}



/* ***** HEADER ****** */


.survival-block {
    background-image: url('./../public/image/Rectangle.jpg');
    background-size: cover;
}

.header {
    padding-top: 20px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.header__logo  h1 {
    margin-left: 25px;
    font-weight: 400;
    font-size: 40px;
}


.header__nav ul {
    display: flex;
    column-gap: 100px;
    font-size: 23px;
}

.header__nav button {
    background: none;
    border: 2px solid #CD6326;
    border-radius: 3px;
    font-size: 23px;
    cursor: pointer;
}

/* ** SURVIVAL */

.survival__content {
    padding: 300px 0;
    line-height: 170px;
}

.survival__content h1 {
    color: #CD6326;
    font-size: 80px;
}

.survival__content p {
    width: 400px;
    letter-spacing: 3px;
    line-height: 40px;
    font-size: 25px;
}

.survival__content button {
    background-color: #CD6326;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
}

.survival__content button:hover {
    opacity: 0.6;
    transition: .3s;
}


/* ARTICLES */

.articles__top {
    text-align: center;
    margin-top: 200px;
}

.articles__top h1 {
    color: #333333;
    font-size: 60px;
}

.articles__top p {
    color: #666666;
    font-size: 30px;
}

.articles__bottom {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.articles__item {
    position: relative;
    display: inline-block;
}

.item img {
    height: 500px;
    width: 400px;
}

.row {
    cursor: pointer;
}

.aricles__item__text {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}



@media (max-width: 1200px) {
    .header__content {
        display: block;

    }
    .header__nav ul {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    


@media (max-width: 1200px) {
    .item img {
        height: 350px;
        width: 250px;
    }

}
}

@media (max-width: 1024px) {

    

    .row {
        display: none;
    }
    .articles__bottom {
        display: block;
        width: 100%;
    }
    .item {
        margin-top: 20px;
        width: 100%;
    }
    .item img {
        height: 400px;
        width: 100%;
    }

}

@media (max-width: 768px) {

  
}

@media (max-width: 420px) {

    .survival__content {
        text-align: center;
        padding: 200px 0;
    }
    
    .survival__content h1 {
        font-size: 60px;
    }
    
    .survival__content p {
        width: 300px;
        letter-spacing: 3px;
        line-height: 40px;
        font-size: 22px;
    }
    
    .survival__content button {
        background-color: #CD6326;
        border: none;
        border-radius: 5px;
        padding: 20px 30px;
        font-size: 30px;
        cursor: pointer;
        transition: .3s;
    }
    
    .survival__content button:hover {
        opacity: 0.7;
        transition: .3s;
    }

    

    .header__nav {
        display: none;
    }

}

@media (max-width: 420px) {

}

@media (max-width: 340px) {
    
}